body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa; /* bg-light */
}

/* Referente a logo do site */
.navbar-brand {
    font-weight: 700;
    font-size: 2.25rem;
    color: #E63946;
}

/* Estilo para o link de navegação ativo */
.navbar-nav .nav-link {
    position: relative; /* Necessário para o posicionamento do pseudo-elemento */
}

 .navbar-nav .nav-link.active {
    font-weight: 600;
    color: #E63946;
}

/* Aplica o sublinhado nos atalhos APENAS em telas grandes (quando o menu não está colapsado) */
/* O breakpoint "lg" colapsa o menu ao atingir o tamanho mínimo de 992px de largura */
@media (min-width: 992px) {
    .navbar-nav .nav-link.active::after {
        content: '';
        position: absolute;
        bottom: 0.25rem; /* Ajusta a distância da linha em relação ao texto */
        /* - Seta o padding dos atalhos da navbar - */
        left: 0.5rem;   
        right: 0.5rem;
        /* --- */
        height: 3px;
        background-color: #E63946;
    }
}

.tool-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tool-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}