<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert2PDF - Imagem para PDF</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Style.css externo -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="bg-white shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-light container">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Convert2PDF</a>
                <!-- Quando a largura da tela diminuir até certo ponto, as opções da navbar vai ser substituídas por um botão colapsável que exibe os atalhos ao clicar -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <!-- Define os atalhos da navbar -->
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/image-to-pdf">Imagem para PDF</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/combinar-pdf">Combinar PDF</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/faq">FAQ</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <% if (user) { %>
                            <a href="/painel" class="btn btn-primary">Painel</a>
                        <% } else { %>
                            <a href="/login" class="btn btn-outline-primary">Entrar</a>
                        <% } %>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <main class="flex-grow-1">
        <!-- Seção Hero -->
        <section class="pt-5 text-center container">
            <div class="row">
                <div class="col-lg-10 col-md-10 mx-auto">
                    <h1 class="fw-bold">Conversor de Imagem para PDF</h1>
                    <p class="lead text-muted">Transforme suas imagens JPG, PNG e TIFF em um único documento PDF de forma rápida, segura e gratuita.</p>
                </div>
            </div>
        </section>

        <!-- Seção de Upload -->
         <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="card shadow-sm border-0">
                            <div class="card-body ps-md-5 pe-md-5 pt-md-5">
                                <div class="upload-area rounded p-5 text-center">
                                    <h3 class="fs-5 fw-bold mt-3 mb-2">Arraste e solte os arquivos aqui</h3>
                                    <p class="text-muted mb-3">ou</p>
                                    <label for="file-input" class="btn btn-primary">Selecione os arquivos</label>
                                    <input type="file" id="file-input" multiple hidden>
                                </div>
                            </div>
                            <div class="file-list">
                                <p class="text-muted text-center">Nenhum arquivo selecionado.</p>
                            </div>

                            <div id="upload-message" class="text-center mt-0 text-muted"></div>

                            <div class="text-center">
                                <button class="btn btn-secondary btn-lg mb-4" disabled>Converter para PDF</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </section>
    </main>
    <%- include('partials/footer') %>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/js/arquivos-selecionados.js"></script>
</body>
</html>